<% srvData = JSON.parse(atob(dataEnc)) %> <% srvData.user.data =
JSON.parse(srvData.user.data)%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
      integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/dashboardPage/qr.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashbord</title>
    <link rel="stylesheet" href="/css/dashboardPage.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <script src="/js/dashboardPage/inputFile.js" defer></script>
    <script src="/js/dashboardPage/showqr.js" defer></script>
  </head>
  <body>
    <nav>
      <div class="qr">
        <button class="show-qr"><img src="/images/qr.svg" alt="" /></button>
        <div class="container-qr dnone">
          <div id="qrcode"></div>
          <button onclick="downloadImage()">
            <img src="/images/download.svg" alt="" />
          </button>
        </div>
      </div>
      <button class="goto">
        <img src="/images/display.svg" alt="" />
      </button>
      <form action="/logout" method="post" id="logout">
        <button type="submit" class="logout">
          <img src="/images/logout.svg" alt="" />
        </button>
      </form>
    </nav>
    <form
      action="/login/<%= srvData.user.username %>"
      method="post"
      enctype="multipart/form-data"
      id="newItem"
    >
      <!-- ------------------------------------------------------ -->

      <div class="card-new">
        <div class="card-title">
          <h2 class="card-title">Add new product</h2>
        </div>
        <div class="detail-box">
          <div class="container-select">
            <div class="input-wrapper">
              <label for="type">Category</label>
              <input
                type="text"
                name="type"
                id="category-input"
                placeholder="Ex. Main dishes"
                required
              />
            </div>
            <div class="categories-list">
              <% const arrayType = [] %> <%srvData.menus.forEach((el) => { %> <%
              if(!arrayType.includes(el.type)){ %> <% arrayType.push(el.type) }
              }) %> <%arrayType.forEach((cat) => {%>
              <div class="category" value="<%= cat %>"><%= cat %></div>
              <%})%>
            </div>

            <script>
              const categoryInput = document.querySelector("#category-input");
              const categoriesList = document.querySelector(".categories-list");
              const categories = document.querySelectorAll(".category");

              document.addEventListener("click", hideCategoriesList);

              categoryInput.addEventListener("input", toggleShowCategoriesList);
              categories.forEach((category) =>
                category.addEventListener("click", setCategoryInput)
              );

              function hideCategoriesList() {
                categoriesList.style.display = "none";
              }

              function toggleShowCategoriesList(e) {
                const filteredCategories = [...categories].filter((category) =>
                  category.innerText
                    .toLowerCase()
                    .includes(e.target.value.toLowerCase())
                );
                categoriesList.style.display =
                  e.target.value && filteredCategories.length
                    ? "block"
                    : "none";
                categories.forEach((category) => {
                  category.style.display = category.innerText
                    .toLowerCase()
                    .includes(e.target.value.toLowerCase())
                    ? "block"
                    : "none";
                });
              }

              function setCategoryInput(e) {
                if (e.currentTarget.classList.contains("category")) {
                  categoryInput.value = this.innerText;
                }
                hideCategoriesList();
              }
            </script>
          </div>
          <div class="input-wrapper">
            <label for="category">Title</label>
            <input
              type="text"
              name="title"
              placeholder="Ex. Hamburger"
              required
            />
          </div>

          <div class="input-wrapper">
            <label for="category">Ingredients</label>
            <input
              type="text"
              name="ingredients"
              placeholder="Ex. bacon, eggs, chips"
              required
            />
          </div>
          <input type="text" name="allergenes" required />

          <div class="input-wrapper">
            <label for="category">Price</label>
            <input
              type="number"
              step="0.01"
              name="price"
              placeholder="Ex. 20.50"
              required
            />
          </div>
          <div class="input-wrapper img-upload">
            <label for="image">Image</label>
            <input type="file" name="image" required accept="image/*" />
            <img src="" id="preview" alt="" class="dnone" />
          </div>
          <div class="allergenes-container">
            <p class="allergenes-title">Allergenes</p>
            <div class="allergenes-list">
              <script>
                const allergenesWrapper =
                  document.querySelector(".allergenes-list");
                const arrayAllergenes = [
                  "abalone",
                  "apple",
                  "banana",
                  "beef",
                  "cashew",
                  "celery",
                  "chicken",
                  "crab",
                  "eggs",
                  "fish",
                  "gelatin",
                  "gluten",
                  "kiwi",
                  "lupine",
                  "matsuke",
                  "milk",
                  "mushroom",
                  "nuts",
                  "orange",
                  "peach",
                  "pork",
                  "potato",
                  "sesame",
                  "shrimp",
                  "soya",
                  "soybean",
                  "squid",
                  "sulfur",
                  "walnut",
                  "wheat",
                ];
                arrayAllergenes.forEach((allergene) => {
                  const btn = document.createElement("button");
                  btn.classList.add("btn-allergenes");
                  btn.id = allergene;
                  btn.innerText = allergene;
                  allergenesWrapper.appendChild(btn);
                });
              </script>
            </div>

            <script>
              const inputAllergenes = document.querySelector(
                'input[name="allergenes"]'
              );

              const allergenesList = [];
              function toggleIngredient(e) {
                e.preventDefault();
                if (allergenesList.includes(e.currentTarget.id)) {
                  allergenesList.splice(
                    allergenesList.indexOf(e.currentTarget.id),
                    1
                  );
                } else {
                  allergenesList.push(e.currentTarget.id);
                }
                e.currentTarget.classList.toggle("active");
                inputAllergenes.value = allergenesList;
              }

              const btnsAllergenes =
                document.querySelectorAll(".btn-allergenes");

              btnsAllergenes.forEach((btn) => {
                btn.addEventListener("click", toggleIngredient);
              });
            </script>
          </div>
          <button type="submit"><img src="/images/send.svg" alt="" /></button>
        </div>
      </div>

      <!-- ----------------------------------------------------- -->
    </form>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const goto = document.querySelector(".goto");

        goto.addEventListener("click", () => {
          window.location.href = "/menu/<%= srvData.user.username %>";
        });
      });

      function downloadImage() {
        const image = document.querySelector("#qrcode img");
        const url = image.src.replace(
          /^data:image\/[^;]/,
          "data:application/octet-stream"
        );
        const link = document.createElement("a");
        link.download = "qrCode.png";
        link.href = url;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      }
    </script>

    <script>
      window.addEventListener("load", () => {
        qr(
          window.location.href.replace(
            "/login",
            "/menu/<%= srvData.user.username %>"
          )
        );
      });
    </script>
  </body>
</html>
